@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-crimson-text: var(--font-crimson-text);
  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-crimson-text), serif;
}

html {
  scroll-behavior: smooth;
}

/* Utility classes for font switching */
.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

.font-crimson-text {
  font-family: var(--font-crimson-text), serif;
}

.aos-fade {
  transform: translateX(1600px);
  opacity: 0;
  transition: transform 1000ms ease-out, opacity 1000ms ease-out;
}
.aos-animate.aos-fade {
  transform: translateX(0);
  opacity: 1;
}
